// * ---------------------------------------------------------------------------GENERAL

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Lato:wght@300;400&family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Lato:wght@300;400&family=Libre+Caslon+Display&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Display&family=Trocchi&display=swap');


* {
  font-family: 'Lato', sans-serif;
}
#root .App {
  min-height: 100vh;
  // min-width: 100vw;
}



// * ---------------------------------------------------------------------------BANNER
header {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
  vertical-align: baseline;
  text-align: center;
  // border: 1px solid red;
}
.banner-wrapper {
  position: relative;
}
.banner-content {
  max-height: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // width: 990px;
  margin: 0 auto;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  padding: 25px 8px;
  // border: 1px solid green;
  background-color: palegoldenrod;
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619046034/Items/banner2_nejtcl.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#logo {
  margin: 0;
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 65px;
  font-family: 'Almendra', serif;
  line-height: 1;
  // border: 1px solid orange;
  text-decoration: none;
  color: black;
}
.user-links {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 100px;
  font-size: 15px;
  line-height: normal;
  // border: 1px solid yellowgreen;
}
.user-link-item {
  margin: 20px;
  // border: 1px solid purple;
}
.nav-links-wrapper {
  display: block;
  background-color: rgb(248, 248, 248);
}
.nav-links-list {
  list-style: none;
  margin: 0;
}
.nav-link {
  display: inline-block;
  padding: 5px;
  margin: 0 50px;
  font-size: 16px;

}
.nav-link a {
  text-decoration: none;
  color: black;
}
.nav-link a:hover {
  text-decoration: underline;
}
.profile-page-link, .sign-in-link{
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619031302/Items/profile-link_iy8jms.png');
  padding: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.logout-button {
  border: 3px solid black; 
  // border: none;
  // text-decoration: underline;
  // font-weight: 800;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight:800;
  border-radius: 0.8em;
}


// * ---------------------------------------------------------------------------HOME

.home-wrapper {
  margin: 0 auto;
  min-width: 100%;
  display: block;
  min-height: 100%;
  // border: 1px solid blue;
  margin-bottom: 100px;
  // background-image: url('https://res.cloudinary.com/project-3/image/upload/v1618492837/Items/gaia_red_velvet_dress_01_cc141q.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // background-color: rgb(212, 212, 212);
}
.home-images-ul {
  display: flex;
  flex-wrap: wrap;
  // border: 1px solid red;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
  // background-color: rgb(212, 212, 212);
}
.home-images-list-items {
  list-style: none;
  display: inline-block;
}
.home-image {
  padding: 350px 280px;
  // width: 50%;
  display: block;
  margin: 0 auto;
  background-size: contain;
  // flex-grow: 2;
  position: relative;
  text-align: center;
  // filter: none;
  .home-img-label {
    // display: none;
  }

}
// .home-image:hover {
//   .home-img-label {
//     display: inline-block;
//   }
//   // filter: grayscale(100%);
// }
.home-img-label {
  position: absolute;
  top: 8px;
  left: 16px;
  // background-color: rgb(255, 255, 255) !important;
  padding: 5px 20px;
  margin: 0;
  font-weight: 300;
  // font-family: 'Almendra', serif;
  text-transform: uppercase;
  color: black;
  font-size: 24px;
}
.himg1 {
  background-color: rgb(143, 190, 129, 0);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1618574382/Items/blue_mesh_hydrodynamic_ruched_mini_dress_02_mvcnlt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg1:hover {
  background-color: rgb(143, 190, 129);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1618574382/Items/blue_mesh_hydrodynamic_ruched_mini_dress_01_aljxuw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.himg2 {
  background-color: rgb(129, 190, 182);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089029/Items/211148F107014_1_o0ug0n.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg2:hover {
  background-color: rgb(143, 190, 129);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089029/Items/211148F107014_1_o0ug0n.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg3 {
  background-color: rgb(190, 129, 177);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089416/Items/211342F092277_1_ofljrr.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg3:hover {
  background-color: rgb(143, 190, 129);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089416/Items/211342F092277_1_ofljrr.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg4 {
  background-color: rgb(190, 174, 129);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1618574932/Items/green_allover_marble_trousers_03_rp8ppo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg4:hover {
  background-color: rgb(143, 190, 129);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1618574932/Items/green_allover_marble_trousers_01_fsv0ak.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg5 {
  background-color: rgb(88, 107, 90);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089547/Items/the-elder-statesman-off-white-organic-cotton-stripe-sweater_rqxuqn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg5:hover {
  background-color: rgb(143, 190, 129);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089547/Items/the-elder-statesman-off-white-organic-cotton-stripe-sweater_rqxuqn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg6 {
  background-color: rgb(192, 202, 157);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089661/Items/211418F067003_1-1_ojipkk.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.himg6:hover {
  background-color: rgb(143, 190, 129);
  background-image: url('https://res.cloudinary.com/project-3/image/upload/v1619089661/Items/211418F067003_1-1_ojipkk.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// * ---------------------------------------------------------------------------INDEX

.index-page-wrapper {
  max-width: 1000px;
  border: 1px solid green;
  margin: 0 auto;
  margin-top: 20px;
}
.items-grid-wrapper {
  max-width: 800px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
// .grid-wrapper ul li {
//   width: calc(33.33% - 20px);
//   margin-bottom: 30px;
// }

// * ---------------------------------------------------------------------------SHOW

.item-show-page-wrapper {
  max-width: 1000px;
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 30px;
}
.item-show-image-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  // border: 1px solid orange;
}
.item-show-image-wrapper img {
  max-width: 400px;
  padding: 60px;
  margin-right: 10px;
}
.item-show-info-wrapper {
  // border: 1px solid purple;
  padding: 30px;
}
.designer {
  text-transform: uppercase;
}
.item-info {
  margin-top: 40px;
  margin-bottom: -5px;
  text-transform: uppercase;
}
.pricing p {
  display: inline-block;
  margin-right: 50px;
}
.rent-and-add-to-wishlist-buttons-wrapper {
  margin-top: 20px;
}

.rent-now-button {
  width: 180px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  margin-right: 50px;
  padding: 10px 20px;
  font-size: 16px;
}
.add-to-wishlist-button {
  border: none;
  background-color: white;
  text-decoration: underline;
  font-size: 16px;
}
.add-to-wishlist-button:focus {
  border-radius: 0;
  border: 1px, solid, black;
  outline: none;
}
.login-or-reg-button {
  width: 180px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  margin-right: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
}

// * ---------------------------------------------------------------------------CARD

.item-card-wrapper {
  // border: 1px solid green;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item-card-image-wrapper {
  // padding: 40px 20px;
  height: 400px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top;
  position: relative;
  text-align: center;
  // border: 1px solid red;
}
.item-card-info-wrapper {
  text-decoration: none;
  display: inline-block;
  // border: 1px solid blue;
  width: 200px;
}
.item-card-info-wrapper p {
  font-weight: 400;
  font-size: 15px;
}
.item-card-name {
  margin-bottom: -12px;
  margin-top: -12px;
}
.item-card-price-wrapper {
  margin-top: -25px;
}
.item-card-price-wrapper p {
  display: inline-block;
  margin-right: 30px;
}
.item-card-rrp {
  text-decoration: line-through;
}

// * ---------------------------------------------------------------------------HOW IT WORKS

.how-it-works-page-wrapper {
  max-width: 1000px;
  // border: 1px solid red;
  margin: 0 auto;
  margin-top: 50px;
}
.how-it-works-info {
  max-width: 800px;
  // border: 1px solid blue;
  margin: 0 auto;
}
.become-a-lender {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

// * ---------------------------------------------------------------------------USER PROFILE

.user-profile-page-wrapper {
  max-width: 900px;
  // border: 1px solid pink;
  margin: 0 auto;
}
.welcome-back-message {
  text-align: center;
  margin-top: 40px;
}
.account-details-wrapper {
  border: 1px solid rgb(223, 223, 223);
  max-width: 500px;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.wishlist-wrapper, .rented-items-wrapper {
  border: 1px solid rgb(211, 211, 211);
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 30px;
}
.rented-items-wrapper {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.user-detail {
  display: inline-block;
  width: 150px;
}
.wishlist-rented-image {
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top;
  position: relative;
  text-align: center;
  display: inline-block;
}
.userprofile-wishlist-rent-item {
  // border: 1px solid greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.remove-from-rented-button, .remove-from-wishlist-button{
  background-color: white;
  border: 1px solid rgb(206, 206, 206);
  color: rgb(167, 167, 167)
}
.go-to-checkout-button {
  width: 180px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  margin-right: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}


// * ---------------------------------------------------------------------------CHECKOUT

.checkout-wrapper {
    display: flex;
    justify-content: center;
}

.shipping-container {
    width: 65%;
    padding: 5% 10%;
}

h1 {
    align-self: center;
}

form {
    width: 100%;

    >* {
        margin-top: 20px;
    }

    input {
        width: 100%;
        min-height: 25px;
        border: 0;
        font-size: 1rem;
        letter-spacing: .15rem;
        // font-family: "Arimo";
        margin-top: 5px;
        // border-radius: 4px;
        border: 1px solid black;
    }

    label {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
    }

    h1 {
        font-size: 24px;
        line-height: 10px;
        // color: $title;
        letter-spacing: 1px;
    }

    h1:nth-of-type(2) {
        margin-top: 10%;
    }
  }

.name {
    justify-content: space-between;
    display: flex;
    width: 100%;

    div {
        width: 45%;
    }
}

.address-info {
    display: flex;
    justify-content: space-between;

    div {
        width: 30%;
    }
}

.cc-info {
    display: flex;
    justify-content: space-between;

    div {
        width: 45%;
    }
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .on-checkout-bttn {
        margin: 3px 0;
        height: 30px;
        width: 30%;
        color: #ffffff;
        background-color: #000000;
        text-transform: uppercase;
        border: 0;
        letter-spacing: 2px;

    }
}

input:focus,
.on-checkout-bttn:focus {
    outline: none;
}

@media (max-width: 736px) {
    .checkout-wrapper {
        width: 100%;
    }

    .shipping-container {
        width: 100%;
    }

    .btns {
        align-items: center;

        button {
            width: 50%;
        }
    }

    form h1 {
        text-align: center;
    }

    .name,
    .address-info,
    .cc-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        div {
            align-items: center;
            flex-direction: column;
            width: 100%;
            display: flex;
        }
    }

    .street,
    .cc-num {
        text-align: center;
    }

    input {
        margin: 5px 0;
        min-height: 30px;
    }
}



// * ---------------------------------------------------------------------------REGISTRATION

.register-form-container {
  border: 1px solid red;
}
.login-form-container {

}
.form-field {
  margin-bottom: 12px;
  display: block;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  padding: 5px;
  width: 400px;
  border-radius: 0;
  border: 1px, solid, black;
}
input:focus {
  border-radius: 0;
  border: 1px, solid, black;
  outline: none;
}
.is-error {
  border: 1px, solid, red;
}
.error-message {
  color: red;
}

#submit-button {
  width: 100px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  margin-top: 20px;
  text-align: center;
  margin-right: 30px !important;
}
.submit-button:hover {
  background-color: rgb(83, 83, 83);
}

// * ---------------------------------------------------------------------------REG LOGIN
.reglogin-page-wrapper {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
  border: 1px solid pink;
}
.reglogin-page-wrapper h3 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
.reglogin-login-wrapper, .reglogin-register-wrapper{
  border: 1px solid greenyellow;
  min-width: 40%;
}

// * ---------------------------------------------------------------------------FOOTER

.footer {
  width: 100%;
  // max-width: 935px;
  font-size: 12px;
  padding: 3px 10px;
  background-color: rgb(240, 240, 240);
  // border: 1px solid pink;
  position:fixed;
  z-index: 100;
  // padding: 0;
  min-height: 15px;
  bottom: 0;
  text-align: center;
  font-size: 13px;
}
.github {
  margin-left: 50px;
  color: black;
  text-decoration: none;
}
